header {
  color: white;
  background: #ffffff;
  border: #cccccc;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color:#777777;
  background: white;
}

.container_0 {
  width: 300px;
  margin: left;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
  text-align: left;
  background: #4aaaa5;
}

h2 {
  font-size: 24px;
  color: #4aaaa5;
}

a {
  color: #d21034;
}
.header_1 {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.container_contact {
  display: flex
}

.main-bio,
.contact-info,
.bio-image {
  float: left;
}

.main-bio {
  width: 100%;
  padding: 0, 10%;
  background: #ffffff;
}

.contact-info {
  width: 30%;
}

.bio-image {
  min-width: 200px;
  height: 200px;
  margin-right: 20px;
}

.btn-group {
  color:#777777;
  text-align: right;
  width: auto
}

.bio-image:hover {
  min-width: 400px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777777;
  color: white;
  text-align: center;
}
